<div id="header">
  <div class="color-line"> </div>
  <div id="logo" class="light-version"> <span> <img [src]= "logo" alt=""> </span> </div>
  <div class="nav-button">
    <div class="header-link toggleMenu" id="toggleMenu"><i class="fa fa-bars"></i></div>
    <div class="navbar-right user_nav_right">
      <ul class="nav navbar-nav no-borders">
        <li>
        	<a href="#" class="notification"> <i class="fa fa-bell"></i> <span class="notification-label">12</span></a>
        </li>
        <li class="dropdown profile-icon-bx">
        <a  class="dropdown-toggle" data-toggle="dropdown" >
          <i class="fa fa-user"></i>
          </a>
          <ul class="dropdown-menu user_menu ">
            <!-- User image -->
            <li> <img src="" id="img-circle" alt="User Image">
              <p> Alexander Pierce</p>
              <small>Duty Manager</small> </li>
            <!-- Menu Footer-->
            <li class="user-footer"><a href="#" class="btn btn-primary btn-flat">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>