<nav id="menu" class="menuList">
    <ul class="nav" id="side-menu">
      <li routerLinkActive="active"> <a routerLink="/dashboard"> <span class="nav-label"><i class="fa fa-tachometer"></i>
        <label>Dashboard</label>
        </span> </a> </li>
      <li routerLinkActive="active"> <a routerLink = "/asset"> <span class="nav-label"><i class="fa fa-wrench"></i>
        <label>Asset</label>
        </span> </a> </li>
      <li routerLinkActive="active"> <a routerLink = "/staff"> <span class="nav-label"><i class="fa fa-user"></i>
        <label>Staff</label>
        </span> </a> </li>
      <li routerLinkActive="active"> <a routerLink = "/contract"> <span class="nav-label"><i class="fa fa-file-text"></i>
        <label>Contract</label>
        </span> </a> </li>
      <li routerLinkActive="active"> <a routerLink = "/user" > <span class="nav-label"><i class="fa fa-users"></i>
        <label>User &amp; Group</label>
        </span> </a> </li>
      <li routerLinkActive="active"> <a a routerLink = "/setting"  > <span class="nav-label"><i class="fa fa-cogs" ></i>
        <label>Settings</label>
        </span> </a> </li>
    </ul>
  </nav>