.breadcrumbs {
    float: left;
    width: 50%;
    text-align: right;
    background: none;
    padding: 0 10px 0;
    text-transform: capitalize;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.breadcrumbs span {
    padding: 0 10px;
}
.middlecontent {
    width:100%;
    float: left;
    padding: 20px 10px;
}

.middlecontent .box {
         border-color: #ccc;
}

