<h3 class="headertitle">Dashboard</h3>
<div class="breadcrumbs"> Home <span>›</span> Dashboard</div>

<div class="row">
      <div class="top_row">
        <div class="col-md-4 col-sm-4">
          <!-- Column -->
          <div class="col_bx white_bg">
            <div class="icon_right"> <i class="fa fa-wrench" aria-hidden="true"></i> </div>
            <div class="title">Asset</div>
            <div class="col-xs-12 col-lg-12 margin_bot_20">
              <label>Expiring by Next Month</label>
              <p>35 out of 120</p>
            </div>
            <!--<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 margin_bot_20">
              <label>Notification sent</label>
              <p>25 out of 35</p>
            </div>-->
            <span></span> </div>
        </div>
        <!-- Column -->
        <div class="col-md-4 col-sm-4">
          <!-- Column -->
          <div class="col_bx white_bg">
            <div class="icon_right"> <i class="fa fa-user" aria-hidden="true"></i> </div>
            <div class="title">Staff Record</div>
            <div class="col-xs-12  col-lg-12 margin_bot_20 ">
              <label>Expiring by Next Month</label>
              <p>35 out of 120</p>
            </div>
            <!--<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 margin_bot_20">
              <label>Notification sent</label>
              <p>25 out of 35</p>
            </div>-->
            <span></span> </div>
        </div>
        <!-- Column -->
        <div class="col-md-4 col-sm-4">
          <!-- Column -->
          <div class="col_bx white_bg">
            <div class="icon_right"> <i class="fa fa-file-text" aria-hidden="true"></i> </div>
            <div class="title">Contract</div>
            <div class="col-xs-12 col-sm-12  col-lg-12 margin_bot_20">
              <label>Expiring by Next Month</label>
              <p>35 out of 120</p>
            </div>
            <!--<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 margin_bot_20">
              <label>Notification sent</label>
              <p>25 out of 35</p>
            </div>-->
            <span></span> </div>
        </div>
        <!-- Column -->
      </div>
    </div>


    <div class="row">
      <div class="middlecontent">
        <div class="col-md-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Record Expiring</h3>

          
            </div>
            <div class="box-body">
              <div class="chart">
              	<p>Graph Content</p>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- Column -->
        <div class="col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Expiration Calendar</h3>

           
            </div>
            <div class="box-body">
             <app-calendar> </app-calendar>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- Column -->
      </div>
    </div>