
<div class="box box-primary reminderCal reminder_calendar_box">
<div class="box-header with-border">
              <h4 class="box-title">Expiry Calendar</h4>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
<app-reminder-calendar [reminder]="reminder" > </app-reminder-calendar>

</div>