<div class="table-responsive table-striped reminder_calendar dashboard-calendar">
  <div class="btn-header">
    <div class="text-center">
      <a class="btn btn-prev pull-left" (click)="previousMonth()">    <i class="fa fa-angle-left">  </i> </a>
      <span class="btn btn-info btn-month"> {{date.format('MMMM')}} {{date.format('YYYY')}} </span>
      <a class="btn btn-next pull-right" (click)="nextMonth()">   <i class="fa fa-angle-right"> </i> </a>
    </div>
  </div>
  <div class="xm-scroll">
  <div class= "xm-12">
  <div class="week">
    <div class="calenderDay" *ngFor="let day of dayArr">{{day.format('dd')}}</div>
  </div>
  <div class="flex-container bg-gray flex-wrap ">
    <div *ngFor="let day of dayArr" class="dayList">
      <div class="calenderDay  flex-container flex-wrap" [ngClass]="{'inactive':!day, 'today':today(day),'reminder': isSelected(day)}">
        {{day?.date()}} </div>
    </div>
  </div>
  </div>
  </div>
</div>